@model TodoViewModel

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">My todo's</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.TodoList)
                {
                    <tr>
                        <td class="todos-column">@t.Name</td>
                        <td class="todos-column">@t.Deadline</td>
                        <td class="buttons-column">
                            <input type="submit" class="btn btn-danger" value="Delete" onclick="deleteTodo(@t.Id)" />
                            <input type="submit" class="btn btn-primary" value="Update" onclick="populateForm(@t.Id)" />
                            <input type="submit" class="btn btn-success" value="Done" onclick="done(@t.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>